/* リセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    vertical-align: center;
    font-family: "Meiryo UI", "MSゴシック", "sans-serif";
    letter-spacing: 0.05em;
}

:root{
    --main-color: #336633;
    --main-color-rgb: 51,102,51;
    --main-font-dark: #224422;
    --main-font-light: #f5f2ef;
    --emphasis: #d16b1c;
}

.header {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.menu-box {
    width: 400px;
    margin: 100px auto;
}

.inclusion-1 {
    display: flex;
}

.inclusion-2 {
    display: flex;
}

.accordion-btn {
    width: 100%;
    background-color: var(--main-color);
    color: var(--main-font-light);
}

.accordion-panel {
    display: none;
    color: var(--main-font-dark);
  }

.button-area {
    display: flex;
}

.simu-left {
    display: flex;
    margin: 5px;
}

.simu-size {
    background-color: var(--main-font-light);
}

.simulation-area {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 5px;
    background-color: rgba(var(--main-color-rgb),0.2);
    /* opacity: 0.2; */
    position: fixed;
    bottom: 0;
    z-index: 10;
}


.arrow {
    color: var(--emphasis);
    font-weight: bold;
}