/* リセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    vertical-align: center;
    font-family: "Meiryo UI", "MSゴシック", "sans-serif";
    letter-spacing: 0.05em;
}

:root{
    /* 色の指定 */
    --main-color: #336633;
    --main-color-rgb: 51,102,51;
    --main-font-dark: #224422;
    --main-font-light: #f5f2ef;
    --emphasis: #d16b1c;
    --emphasis-rgb: 209,107,28;
    --black: #003300;
    --gray: #778877;
    --white: #ffffff;
    /* サイズの指定 */
    --box-width: 380px;
}

.container {
    min-height: 1000px;
    margin: 0 auto;
    padding: 15px 5px;
    background-color: rgba(var(--main-color-rgb),0.1);
}

header h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
} 

.main-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
}

.containts {
    margin: 10px;
    padding: 10px;
    border: 1px dashed var(--main-font-dark);
}

.production {
    display: flex;
    margin-bottom: 20px;
}

.thumbnail {
    /* width: 40%; */
    min-width: 230px;
    padding: 5px 15px;
}

.thumbnail img {
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    box-sizing: border-box;
    vertical-align: bottom;
}

.paragraphs {
    margin: 10px;
}

.paragraphs ul {
    list-style-position: inside;
}

.description {
    text-align: left;
}

.description h3 {
    line-height: 30px;
}

footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: var(--gray);
}